<!DOCTYPE html>
<html lang="pt-br">
    <head><%- include ('./partials/head.ejs')%></head>
<body class="bg-body-tertiary">
    <!-- Esse recurso se chama partials e permite comolocar trechos de codigo em outros arquivos para evitar tepetir codigos  va na pasta views/partials para auterar-->
    <header><%- include ('./partials/nav.ejs')%></header>
    <div class="container">
    <main>
        <div class="card primeiro" >
            <div class="card-header">
                <h1>Registro</h1>
            </div>
            <div class="card-body">
                <form action="/upload" method="post">
                    <div id="localidade">
                        <h2>
                            Local
                        </h2>
                        <p><input class="form-control" type="text" name="nome" id="Nome" placeholder="Nome"></p>
                        <p><input class="form-control" type="text" name="longitude" id="longitude" placeholder="Longitude"></p>
                        <p><input class="form-control" type="text" name="latitude" id="latitude" placeholder="Latitude"></p> 
                        <p><input  type="text" name="origem" id="Oculto" value="<%= origem %>"></p>
                        <div class="row">
                            <div class="col-md-8">
                                <select class="form-select" name="tipo">
                                    <option selected> Tipo de Localidade</option>
                                    <option value="1">Administrativo</option>
                                    <option value="2">Saude</option>
                                    <option value="3">Aula</option>
                                    <option value="4">Portão</option>
                                    <option value="5">Alimentação</option>
                                    <option value="6">Biblioteca</option>
                                    <option value="7">Instituto</option>
                                    <option value="8">Laboratorio</option>
                                    <option value="10">Faculdade</option>
                                    <option value="9">Outro</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select" name="andar">
                                    <option selected>Andar</option>
                                    <option value="10">Terreo</option>
                                    <option value="1">Primeiro</option>
                                    <option value="2">Segundo</option>
                                    <option value="3">Terceiro</option>
                                    <option value="4">Quarto</option>
                                    <option value="5">Quinto</option>
                                    <option value="6">Sexto</option>
                                    <option value="7">Setimo</option>
                                    <option value="8">Oitavo</option>
                                    <option value="9">Nono</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <select class="form-select" name="setor">
                                    <option selected>Setor</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Profissional</option>
                                    <option value="3">Saúde</option>
                                    <option value="4">Parque de Ciência e Tecnologia</option>
                                </select>
                            </div>
                            <div class="col"><select class="form-select" name="portao">
                                <option selected>Potão</option>
                                <option value="7">1</option>
                                <option value="8">2</option>
                                <option value="9">3</option>
                                <option value="10">4</option>
                                <option value="11">5</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <br>

                    <button class="btn btn-primary">enviar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        Marcos Rabelo|2023
    </footer>
    </div>
</body>
<%- include ('./partials/footer.ejs')%>
</html>